@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.react-datepicker {
  font-family: inherit !important;
  font-size: 0.9rem !important;
  border-radius: 0.5rem !important;
  border: none !important;
}

.react-datepicker__month-container {
  width: 100% !important;
}

.react-datepicker__header {
  background-color: white !important;
  border-bottom: 1px solid #e5e7eb !important;
  padding: 1rem 0 !important;
}

.react-datepicker__day {
  width: 2.5rem !important;
  height: 2.5rem !important;
  line-height: 2.5rem !important;
  margin: 0.2rem !important;
}

.react-datepicker__day--selected {
  background-color: #4f46e5 !important;
  border-radius: 9999px !important;
}

.react-datepicker__day:hover {
  border-radius: 9999px !important;
}

.react-datepicker__day-name {
  width: 2.5rem !important;
  margin: 0.2rem !important;
}

.react-datepicker__navigation {
  top: 1rem !important;
}

.react-datepicker__current-month {
  font-size: 1rem !important;
  padding-bottom: 0.5rem !important;
}
